.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;

}

.site-title{
  margin-left: 2em;
  /* box-shadow: 0 0 10px 1px rgba(0,0,0,0.2); */
  /* padding: 10px; */
}

.search_header{
  font-size: large;
  padding: 0.2rem;
 
}

.func-Buttons{
  display: flex;
 

}

.flex-func{
  /* justify-content: space-between; */
  margin: 10px;
  margin-right: 4rem;
}